@import "tailwindcss";
@import "./variables.css" layer(theme);

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-tertiary: var(--fg-tertiary);
  --color-fg-inversed: var(--fg-inversed);
  --color-fg-disabled: var(--fg-disabled);
  --color-fg-link: var(--fg-link);
  --color-fg-link-hover: var(--fg-link-hover);
  --color-fg-link-press: var(--fg-link-press);

  --color-fg-positive: var(--fg-positive);
  --color-fg-alert: var(--fg-alert);
  --color-fg-negative: var(--fg-negative);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quarternary: var(--quarternary);
  --color-inversed: var(--inversed);
  --color-disabled: var(--disabled);
  --color-hover: var(--hover);

  --color-positive: var(--color-green-200);
  --color-alert: var(--alert);
  --color-negative: var(--negative);

  --color-divider-primary: var(--divider-primary);
  --color-divider-secondary: var(--divider-secondary);
  --color-border-primary: var(--border-primary);

  --shadow-image-inset: var(--shadow-image-inset);
  --shadow-logo-inset: var(--shadow-logo-inset);
  --shadow-dropdown: var(--shadow-dropdown);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --animate-in: in 0.2s var(--ease-fluid);
  --animate-out: out 0.2s var(--ease-fluid);
}

@layer utilities {
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
}
