@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";

:root {
  --fg: var(--neutral-12);
  --bg: var(--background);

  --bg-inversed: var(--neutral-12);
  --fg-inversed: var(--background);

  --muted: var(--neutral-3);
  --muted-foreground: var(--neutral-8);

  --primary: var(--accent-9);
  --fg-primary: var(--accent-contrast);
  --primary-hover: var(--accent-10);

  --secondary: var(--neutral-3);
  --fg-secondary: var(--neutral-12);
  --secondary-hover: var(--neutral-4);

  --outline-hover: var(--neutral-3);

  --border: var(--neutral-7);
  --ring: var(--neutral-12);

  --disabled: var(--neutral-a4);
  --fg-disabled: var(--neutral-a7);

  --fg-positive: var(--color-green-500);
  --fg-alert: var(--color-yellow-500);
  --fg-negative: var(--color-red-500);

  --positive: var(--color-green-200);
  --alert: var(--color-yellow-200);
  --negative: var(--color-red-200);
}

/* .dark {
  --fg-primary: var(--color-white);
  --fg-secondary: var(--color-neutral-400);
  --fg-tertiary: var(--color-neutral-500);
  --fg-inversed: var(--color-black);
  --fg-disabled: var(--color-neutral-500) / 40%;
  --fg-link: var(--color-neutral-200);
  --fg-link-hover: var(--color-neutral-200);
  --fg-link-press: var(--color-neutral-200);

  --fg-positive: var(--color-green-200);
  --fg-alert: var(--color-yellow-200);
  --fg-negative: var(--color-red-200);

  --primary: var(--color-black);
  --secondary: var(--color-neutral-900);
  --tertiary: var(--color-neutral-800);
  --quarternary: var(--color-neutral-700);
  --inversed: var(--color-neutral-100);
  --disabled: var(--color-neutral-400);
  --hover: var(--color-neutral-400);
  --positive: var(--color-green-200);
  --alert: var(--color-yellow-200);
  --negative: var(--color-red-200);

  --divider-primary: var(--color-neutral-900);
  --divider-secondary: var(--color-neutral-800);
  --border-primary: var(--color-neutral-800);

  --shadow-image-inset: inset 0 0 0 0.5px #ffffff29;
  --shadow-logo-inset: inset 0 0 0 0.5px #ffffff29;
  --shadow-dropdown: 0 8px 24px #0000007a;
} */
